﻿@model SampleApp.PresentationLayer.ApiModels.InvoiceDTO

<div>
    <h3>Invoice @Html.DisplayNameFor(model => model.Id) : @Html.DisplayFor(model => model.Id) </h3>
    <h4>@Html.DisplayNameFor(model => model.State): @Html.DisplayFor(model => model.State)</h4>
    <h5>@Html.DisplayNameFor(model => model.Items):</h5>

    <table class="table">
        <thead>
            <tr>
                <th style="width: 50%">
                    Title
                </th>
                <th style="width: 30%">
                    Quantity
                </th>
                <th style="width: 20%">
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>

